@import 'tailwindcss';

.container {
  margin: 0 auto;
  max-width: 1440px;
}

@media (max-width: 1440px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 600px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
